In [ ]:
    LIST

In [ ]:
# Creating a list

my_list = [1,2,3,4,5]

#Accessing elements
print(my_list[0])

#Adding elements
my_list.append(6)
print(my_list)

#Removing elements
my_list.remove(5)
print(my_list)

#Slicing
print(my_list[1:3])

TUPLES

In [3]:
#Creating a tuple
tuple = (1,2,3,4,5,6)

#Accessing elements
print(tuple[2])

#Slicing
print(tuple[1:3])

3
(2, 3)

In [ ]:
Dictionaries

In [6]:
# Creating a dictionary
my_dict = {'name': 'Alice',
           'age': 30,
            'city':'London'}

#Accessing values
print(my_dict['name'])

#Adding key-value pairs
my_dict['email'] = 'alice@gmail.com'
print(my_dict)

#Removing key-value pairs
del my_dict['age']
print(my_dict)

Alice
{'name': 'Alice', 'age': 30, 'city': 'London', 'email': 'alice@gmail.com'}
{'name': 'Alice', 'city': 'London', 'email': 'alice@gmail.com'}

In [ ]:
SETS

In [7]:
#Creating a set
my_set = {1,2,3,4,5,6}

#Adding elements
my_set.add(7)
print(my_set)

#Removing elements
my_set.remove(5)
print(my_set)

#Set operations
set_1 = {3,4,5,6,7,8}
print(my_set & set_1)
print(my_set | set_1)
print(my_set - set_1)
print(set_1 - my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 6, 7}
{3, 4, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2}
{8, 5}

In [9]:
# How can you convert a list of tuples into a dictionary in Python

list_of_tuples = [('name','Alice'),('age',25),('City','London')]
my_dict = dict(list_of_tuples)
print(my_dict)

students = [('Ram',(20,45,37)),('Sam',(45,32,29))]
stu_dict = {names: grades for names, grades in students}
print(stu_dict)

{'name': 'Alice', 'age': 25, 'City': 'London'}
{'Ram': (20, 45, 37), 'Sam': (45, 32, 29)}

In [11]:
# How do you reverse a list in Python?

list = [1,2,3,4,5,6]

#Using reverse() method
list.reverse()
print(list)

#Using slicing
list = [1,2,3,4,5,6]
reversed_list = list[::-1]
print(reversed_list)

[6, 5, 4, 3, 2, 1]
[6, 5, 4, 3, 2, 1]

In [15]:
# How can you sort a list in Python?

list = [2,4,1,6,5,9]

#Using sort() (sort in-place)
list.sort(reverse=True)
print(list)

#Using sorted() function (returns a new sorted list)
sorted_list = sorted(list)
print(sorted_list)

[9, 6, 5, 4, 2, 1]
[1, 2, 4, 5, 6, 9]

In [16]:
#How can you concatenate two tuples in Python?

tuple1 = (1,2,3,4)
tuple2 = (5,6,7)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [25]:
 #Appending and Removing Elements: Create an empty list called my_list. Append
#the numbers 1, 2, and 3 to my_list. Then remove the number 2 from the list 

my_list = []

my_list.append(1)
my_list.append(2)
my_list.append(3)
print(my_list)
my_list.remove(2)
print(my_list)

[1, 2, 3]
[1, 3]

In [29]:
# Accessing Elements: Create a list called fruits containing the strings "apple",
#"banana", "cherry", "date". Print the second element of the list.

fruits = ["apple", "banana", "cherry","date"]
print(fruits[2])

cherry

In [30]:
#Slicing: Create a list called numbers containing the numbers from 1 to 10. Print a
#slice of the list containing elements from the third element to the sixth element.

numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[3:6])

[4, 5, 6]

In [48]:
 #Adding and Removing Elements: Create an empty set called my_set. Add the
#numbers 1, 2, and 3 to my_set. Then remove the number 2 from the set

my_set = {1}
my_set.add(2)
my_set.add(3)
print(my_set)
my_set.remove(2)
print(my_set)

{1, 2, 3}
{1, 3}

In [50]:
#Operations: Create two sets called set1 and set2, each containing a few
#numbers. Print the union, intersection, and difference of the two sets.
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
print(set1 & set2)
print(set1 | set2)
print(set1 - set2)
print(set2 - set1)

{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}

In [17]:
#Packing and Unpacking: Create a tuple called person containing information
#about a person, such as their name, age, and city. Then unpack the tuple into individual
#variables.

person = ('Alice', 30, 'London')

(name,age,city) = person
print(name)
print(age)
print(city)

Alice
30
London